<div class="content">
	<div class="page-title">
		<ul class="breadcrumb">
			<li>
				<a href="/admin"><i class="fa fa-home"></i></a>
			</li>
			<li>
				<a href="/admin/assets" class="">Active</a>
			</li>
			<li>
				<span class="active"><%- asset.Code %> (<%- req.session.getTranslation(asset.Name) %>) - Raport documente sedinta</span>
			</li>                    
		</ul>
	</div>
      <div class="row-fluid">
        <div class="span12">
          <div class="grid simple">
			<div class="grid-title no-border">
				<%- toolsService.getFlashMessage(req.flash()) %>
			</div>
			<div class="grid-body no-border">
				<table class="table table-hover table-condensed admin-table" id="example-table">
					<thead>
						<tr>
							<th style="width:20%">Tip document</th>
							<th style="width:20%">Activ</th>
							<th style="width:20%">Document (fisier)</th>
							<th style="width:20%">Document Public</th>
							<th style="width:20%">Data Creare</th>
							<th style="width:20%">Creat de</th>
						</tr>
					</thead>
					<tbody>
						<% if(items.length>0) { _.each(items,function(item) { %>
						<tr>
							<td class="v-align-middle"><%= req.session.getTranslation(item.DocumentType) %></td>
							<td class="v-align-middle bold"><%- req.session.getTranslation(item.AssetName) %></td>
							<td class="v-align-middle"><span class="muted"><a href='<%= item.DocumentURL %>'><i class="fa fa-download"><%= item.Name %></a></span></td>
							<td class="v-align-middle"><span class="muted"><%= (item.isPublic)?"Da":"Nu" %></span></td>
							<td class="v-align-middle"><span class="muted"><%= timeService.formatDate(item.DateCreated,'DD-MM-YYYY HH:mm:ss') %></span></td>
							<td class="v-align-middle"><span class="muted"><%= item.User %></span></td>
						</tr>
						<% }); } %>
					</tbody>
				</table>
			</div>
          </div>
        </div>
      </div>
      <div class="form-actions">
		<div class="text-center">
			<a class="btn btn-white btn-cons" href="javascript:history.back()">Inapoi</a>
		</div>
	</div>
    </div>
